.footer {
  width: 100%;
  /*font-size: 30px;*/
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer nav {
  width: 100%;
  background-color: color($homepageColor shade(50%));
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 10px;
}

.footer nav a,
.footer nav a:visited {
  color: white;
}

.footer nav a:hover {
  text-decoration: underline;
}

.footer img {
  margin: 0 auto;
  width: 55px;
}

.footer p {
  text-align: center;
}
