.header {
  height: $headerHeight;
  line-height: 1.5;
  /*font-size: 1.3rem;*/
  background-color: color($homepageColor shade(50%));
}

.header.singleDecade {
  background-color: color($singleDecadeColor shade(50%));
}

.header h1 {
  font-weight: lighter;
  font-size: 30px;
  margin: 0;
}

.align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > a {
  margin-right: 1rem;
}

.main-title {
  font-weight: normal;
}

.nypl {
  width: 35px;
  height: 35px;
  background-size: contain;
  background-position: center;
  margin-top: -3px;
  margin-left: 5px;
  margin-right: 5px;
}

header,
header a,
header a:visited {
  color: #eee;
}

.subtitle-spacing {
  margin-right: .2em;
}

@media only screen and (max-width: $mobileWidth) {
  .header h1 {
    font-size: 24px;
  }

  nav > a {
    margin-right: .5rem;
  }
}
